*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# idea
.idea
.shelf
*.iml
*.ipr
*.iws
pom.xml.versionsBackup

# target
target/

# Dockerfile for integration testing server should be downloaded from URL in ./src/test/server/Dockerfile.source
src/test/server/*
!src/test/server/Dockerfile.source

# my temp
temp/
.project
